*{
    margin: 0;
    padding: 0;
}
.head{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom:5px;
}
.inpt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}
.txtarea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    font-size: larger;
    font-weight: 500;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom:0px;
    height: 15em;
    width: 50em;
    font-size: 40px;
    font-weight: 500;
}
textarea{
    height: 15em;
    width: 50em;
    font-size: 1.5rem;
}