* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.AM {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    min-height: 80px;
    width: 850px;
    font-size: xx-large;
    background-color: rgb(252, 255, 75);
    border-radius: 10px;
}

.accordino {
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 74px;
    width: 50vw;
    border-radius:10px;
}

.accordino.active {
    margin: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 20vh;
    width: 50vw;
    padding: 2px;
    border-radius:10px;
    transition: all 0.5ms ease;
}

.question {
    padding: 2px;
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.icon {
    align-self: first baseline;
    justify-self: flex-end;
}

.icon.active {
    transform: rotate(180deg);
    transition: all 0.5ms ease;
}